<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commit.collaboration_board_server.mapper.AttendanceMapper">

    <!-- 일간 출석 체크 -->
    <insert id="insertAttendance" parameterType="com.commit.collaboration_board_server.model.Attendance">
        INSERT INTO DAILY_WORK_DATE (id, user_id, work_date, work_start_time, work_end_time, work_time)
        VALUES (#{id}, #{userId}, #{workDate}, #{workStartTime}, #{workEndTime}, #{workTime})
    </insert>

    <!-- 일간 퇴근 체크 -->
    <update id="updateWorkEndTime" parameterType="com.commit.collaboration_board_server.model.Attendance">
        UPDATE DAILY_WORK_DATE
        SET work_end_time = #{workEndTime}
        WHERE id = #{id}
    </update>


    <!-- 일간 코어타임 위반 체크 -->
    <insert id="insertAttendanceOperation" parameterType="map">
        INSERT INTO ATTENACE_OPERATION (user_id, work_core_time, penalty_message, penalty_count)
        VALUES (#{userId}, #{workCoreTime}, #{penaltyMessage}, 1)
    </insert>

    <!-- 중복 데이터 입력 체크 -->
    <select id="existsAttendanceByParams" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM DAILY_WORK_DATE
        WHERE user_id = #{userId}
        AND work_start_time = #{workStartTime}
    </select>

    <!-- 월간 근로 시간 조회 -->
    <select id="getMonthlyWorkHours" resultType="int">
        SELECT SUM(dwd.work_time)
        FROM DAILY_WORK_DATE dwd
        JOIN USER u ON dwd.user_id = u.user_id
        WHERE dwd.user_id = #{userId}
        AND DATE_FORMAT(dwd.work_date, '%Y-%m') = #{date}
    </select>

    <!-- 코어타임 위반 횟수 조회 -->
    <select id="getCoreTimeViolations" resultType="int">
        SELECT COUNT(*)
        FROM ATTENDANCE_OPERATION ao
        JOIN USER u ON ao.user_id = u.user_id
        WHERE ao.user_id = #{userId}
        AND DATE_FORMAT(ao.work_core_time, '%Y-%m') = #{date}
        AND ao.position_level_vacation > 0
    </select>

</mapper>