<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commit.collaboration_board_server.mapper.AttendanceMapper">

    <!-- 일간 출석 체크 -->
    <insert id="insertAttendance" parameterType="com.commit.collaboration_board_server.model.Attendance">
        INSERT INTO dailyWorkDate
                    (userNo,
                    startTime,
                    workHour,
                    workNotHour)
        VALUES
                    (#{userNo},
                    #{startTime},
                    #{workHour},
                    #{workNotHour})
    </insert>

    <select id="existsUnfinishedAttendance" parameterType="Long" resultType="boolean">
        SELECT COUNT(*)
        FROM dailyWorkDate
        WHERE userNo = #{userNo} AND endTime IS NULL
    </select>

    <!-- 일간 퇴근 체크 -->
    <update id="updateWorkEndTime" parameterType="com.commit.collaboration_board_server.model.Attendance">
        UPDATE dailyWorkDate
        SET endTime = #{endTime}
        WHERE id = #{id}
    </update>



    <select id="getAllWorkDates" resultType="com.commit.collaboration_board_server.model.Attendance">
        SELECT *
        FROM dailyworkdate
    </select>



    <!-- 월간 근로 시간 조회 -->
    <select id="getMonthlyWorkHours" resultType="int">
        SELECT SUM(dwd.work_time)
        FROM dailyWorkDate dwd
        JOIN USER u ON dwd.user_id = u.user_id
        WHERE dwd.user_id = #{userNo}
        AND DATE_FORMAT(dwd.work_date, '%Y-%m') = #{date}
    </select>

    <!-- 코어타임 위반 횟수 조회 -->
    <select id="getCoreTimeViolations" resultType="int">
        SELECT COUNT(*)
        FROM ATTENDANCE_OPERATION ao
        JOIN USER u ON ao.user_id = u.user_id
        WHERE ao.user_id = #{userNo}
        AND DATE_FORMAT(ao.work_core_time, '%Y-%m') = #{date}
        AND ao.position_level_vacation > 0
    </select>

    <select id="existsAttendanceByParams" parameterType="com.commit.collaboration_board_server.model.Attendance" resultType="boolean">
        SELECT COUNT(*)
        FROM dailyWorkDate
        WHERE userNo = #{userNo}
        AND startTime = #{startTime}
        AND endTime = #{endTime}
    </select>

</mapper>