<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.commit.collaboration_board_server.mapper.ScheduleMapper">

    <insert id="insertSchedule" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO schedule (userId, invitedEmails, title, isRegular, regularType, description, startDate, endDate, createdAt, updatedAt)
        VALUES (#{userId}, #{invitedEmails, typeHandler=com.commit.collaboration_board_server.handler.JsonTypeHandler}, #{title}, #{isRegular}, #{regularType}, #{description}, #{startDate}, #{endDate}, NOW(), NOW())
    </insert>

    <select id="getSchedulesByType" parameterType="string" resultType="com.commit.collaboration_board_server.model.Schedule">
        SELECT * FROM schedule
        WHERE regularType = #{regularType}
        AND startDate > NOW()
    </select>

</mapper>