<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commit.collaboration_board_server.mapper.UserMapper">

    <select id="findAll" resultType="com.commit.collaboration_board_server.model.User">
        SELECT * FROM USER
    </select>

    <select id="findById" parameterType="Long" resultType="com.commit.collaboration_board_server.model.User">
        SELECT * FROM USER WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.commit.collaboration_board_server.model.User">
        INSERT INTO USER (id, user_id, username, password, phone_number, email, role)
        VALUES (#{id}, #{userId}, #{username}, #{password}, #{phoneNumber}, #{email}, #{role})
    </insert>

    <update id="updateUser" parameterType="com.commit.collaboration_board_server.model.User">
        UPDATE USER
        SET user_id = #{userId},
            username = #{username},
            password = #{password},
            phone_number = #{phoneNumber},
            email = #{email},
            role = #{role}
        WHERE id = #{id}
    </update>


    <delete id="deleteUser" parameterType="Long">
        DELETE FROM USER WHERE id = #{id}
    </delete>

    <select id="findByUserId" parameterType="com.commit.collaboration_board_server.model.User">
        SELECT * FROM USER WHERE user_id = #{userId}
    </select>

    <insert id="insertMonth" parameterType="com.commit.collaboration_board_server.model.User">
        INSERT INTO monthly_work_date (id, user_id, total_work_time)
        VALUES (#{id}, #{userId}, #{totalWorkTime})
    </insert>

</mapper>
